.pagination {
  display: flex;
  justify-content: space-between;

  > button {
    padding: 1rem;
    border-radius: 5px;
    background: #fff;
    border: none;

    &:hover {
      background-color: #ccc;
    }

    &:active {
      transform: translateY(3px);
    }
  }
}
