@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');

:root {
  --color-bg-1: #343642;
  --color-bg-2: #44475a;
  --color-bg-3: #767a8d;
  --color-bg-4: #4d5475;
  --color-span: #faea83;
  --color-white: #fff;
  --color-black: #000;
  --color-grey: #aaa999;

  --font-text: 'Open Sans Condensed', sans-serif;
  --font-title: 'Lato', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  box-sizing: inherit;
  font-family: var(--font-title);
  background-color: var(--color-bg-2);
  color: var(--color-white);
  font-size: 62.5;
}

button:focus,
input:focus {
  outline: none;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--color-span);
}
